.topnav {
  background-color: #FFFDD0;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #967969;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #89CFF0;
  color: #FFFDD0;
}

.topnav a.active {
  background-color: #F4C2C;
  color: #967969;

