.topnav {
  background-color: #FFFDD0;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #89CFF0;
  color: #FFFDD0;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #F4C2C;
  color: white;
